.portfolio {
    font-size: 160%;
    padding: 2% 0px;
    text-align: center;
    background-color: lightblue;
    float: none;
}
.Introduction {
    font-size: 120%;
    padding-left: 5%;
    line-height: 1em;
}
.under{
    padding: 0px 3%;
    border-bottom: solid 3px #87CEFA;
}
#element {
    text-indent: 3em;
    font-size: 120%;
}
#elementTitle{
    font-weight: 3%;
    font-size: 160%;
}