.portfolio {
    font-size: 130%;
    padding: 2% 0px;
    text-align: center;
    background-color: lightblue;
}
.Introduction {
    font-size: 130%;
    padding-left: 10%;
    line-height: 1em;
}
#twitter {
    text-indent: 1em;
}